<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>851954675614-hcl42jbo3umet0tmkb30km286i4k9nuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.851954675614-hcl42jbo3umet0tmkb30km286i4k9nuk</string>
	<key>API_KEY</key>
	<string>AIzaSyCjBxhWYm9Bxk6X-kiT8FSdIBeyu8fe6Q4</string>
	<key>GCM_SENDER_ID</key>
	<string>851954675614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junseole.warning</string>
	<key>PROJECT_ID</key>
	<string>ios-warning</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-warning.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:851954675614:ios:4fafab36de1cc2d049f08f</string>
</dict>
</plist>